<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
	<div class="container">
		<h1>User Profile</h1>
		<div id="profile-container">
			<div id="profile-image"></div>
			<div id="profile-details">
				<p>Name: <span id="profile-name"></span></p>
				<p>Email: <span id="profile-email"></span></p>
				<p>Phone Number: <span id="profile-phone"></span></p>
			</div>
		</div>
	</div>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>>
        <script src="{{ url_for('static', filename='profile.js') }}"></script>

</body>
</html>

